/* Загальні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.1;
    background-color: #b37e3f;    
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
}

.container {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 20px;
}

/* Header Section */
header .container {
    width: 100%;
    background-image: url("./img/pexels-dmitry-demidov-515774-3784424.jpg");
    background-color: #aad0e11a;
    background-size: cover;
    padding: 5px 0;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1px 1px;
}
nav {
    flex-grow: 1; }
    

header .logo img {
    width: 80px;
    height: auto; 
    display: block;
}
    

nav ul 
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: rgb(199, 229, 231);
    text-decoration: none;
    font-size: 19px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background-image: url("./img/pexels-rpnickson-2647990.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: rgb(224, 237, 239);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #2b93e2;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #ff4500;
}

/* About Section */
.about {
    background-image: url("./img/pexels-eberhardgross-3389532.jpg");
    background-size: cover;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(52, 102, 178, 0.295);
    flex-wrap: wrap;
    
}

.about h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #092c41;
}

.about h4 {
    font-size: 2rem;
    color: #06333d;
    text-align: justify;
  
}

.about-images {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.about-images img {
    width: 35%;
}
/* Для планшетів */
@media (max-width: 1024px) {
    .block { width: 45%; }
}

/* Для мобільних телефонів */
@media (max-width: 768px) {
    .block { width: 100%; }
}


/* Services Section */
.services {
    background-image: url("./img/pexels-sanaan-3075993.jpg");
    background-size: cover;
    padding: 130px 0;
    background-color: #2e53947c;
    text-align: center;
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #d4dce1;
}

.service-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: stretch;
}

.service-item {
    background-color: rgba(223, 226, 229, 0.433);
    padding: 50px;
    border-radius: 20px; 
    width: 30%; 
    box-shadow: 0 4px 10px rgba(208, 204, 204, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    text-align: center;
    min-height: 350px; 
}

.service-item h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #dcdfe4;
}

.service-item ul {
    list-style: none; 
    padding: 0;
    text-align: center;
}

.service-item li {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Portfolio Section */
.portfolio {
    background-image: url("./img/pexels-evgeny-tchebotarev-1058775-4101555.jpg");
    background-size: cover;
    padding: 50px 0;
    background-color: rgba(140, 191, 230, 0.562);
    text-align: center;
}

.portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.portfolio-gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.portfolio-gallery img {
    width: 20%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* Team Section */
.team {
    background-image: url("./img/pexels-lukas-rodriguez-1845331-3618162.jpg");
    background-size: cover;
    padding: 60px 0;
    background-color: #b4c6d377;
    text-align: center;
}

.team h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #bcc945;
        font-size: 2.5rem;
        margin-bottom: 20px;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.member {
    background: #d3b996ba;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.member img {
    width: 100%;
    border-radius: 30px;
}

.member h3 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.member p {
    font-size: 1.5rem;
    color: #bee0e2;
}

.listen-section {
    background-image: url(img/pexels-eberhardgross-2310713.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    color: rgb(107, 158, 201);
}

.listen-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.listen-section p {
    font-size: 1.5rem;
    margin-bottom: 10px;
}


    .video {
        justify-content: center;
        gap: 10px;
        display: flex;
        .video-wrapper {
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            flex-wrap: wrap;
        }
        
        .video {
            max-width: 560px;
        }
}
    

.cta-button {
    background-color: #ddd9e0;
    color: rgb(100, 113, 144);
    padding: 12px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}


.cta-button:hover {
    background-color: #ff4500;
}

/* Contact Section */
.contacts {

    background-image: url(img/pexels-therato-3374204.jpg);
    background-size: cover;
    background-position: center;
    background-color: #7fa6c882;
    color: white;
    padding: 60px 0;
    text-align: center;
}

.contacts h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.contact-info a {
    color: #304da4;
    text-decoration: none;
}

.social-links {
    margin: 20px 0;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.1);
}

.contact-form {
    max-width: 600px;
    margin: 20px auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    padding: 12px 30px;
    background-color: #142436;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #ff4500;
}
/* Map section */

map-section 
.map-section {
    background-image: url(img/pexels-lukas-rodriguez-1845331-3618162.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 0;
    background-color: #f4f4f4; 
}
    .map-section h2 {
        background-image: url(img/pexels-lukas-rodriguez-1845331-3618162.jpg);
    background-size: cover;
    background-position: center;
        text-align: center; 
        color: #eff6f8;
        font-size: 2.5rem;
        margin-bottom: 2px;
        font-weight: bold;
    }


/* Footer Section */
footer {
    background-image: url(img/pexels-lukas-rodriguez-1845331-3618162.jpg);
    background-size: cover;
    background-position: center;
    background-color: #499bce9a;
    color: rgb(24, 3, 21);
    text-align: justify;
    padding: 10px 0;
    .footer-text {
        display: flex; 
        justify-content: space-between; 
        gap: 20px; /
    
    }
    
    .footer-text p {
        margin: 0;
        white-space: nowrap;
    }
    
}

footer p {
    font-size: 1rem;
}


